<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito': 'estadoNoFavorito'">
	<div class="card-img">
		<img src="https://www.atrapalo.com.co/hoteles/picture/s/1974/6/1/405085019.jpg">
		<span><h4>[{position}]</h4></span>
		
	</div>
	<div class="card-desc">
		<h3>({destino.nombre})</h3>
		<p>servicios</p>
	<div>
		<a href="#" (click)='voteUp()' appTrakearClick data-trackear-tags="destino_vote_up lista_destinos_item"> <i class="material-icons md-18">thumb_up </i>
		</a>
		&nbsp;
		<a href="#" (click)='voteDown()' appTrakearClick data-trackear-tags="destino_vote_down lista_destinos_item"> <i class="material-icons md-18">thumb_down </i>
		</a>
		&nbsp;
		votos{{destinos.votes}}
		
     </div>
 
 <ul>
	<li *ngfor="let s of destino.servicios;">
		<span class="container"[ngSwitch]="s">
			<i *ngSwitchCase="'desayuno'" style="color: red;">{{s}} *</i>
			<i -ngSwitchDefault>{{ s}}</i>
		</span>
	</li>
 </ul>
   <a href="#" class="btn-card" (click)="ir()"
   appTrakearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item"> IR</a>
   <span *ngIf="destino.isSelected()">
     <span ngNonBindable>{{PREFERIDO}}</span> 	
   </span>
  <a [routerLink]="['/destino', destino.id]">ver</a>
 </div>
 </div> 