<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			

			<!--form card login with validation feedback-->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Wishlist</h3>	
				</div>
			<div class="card-body">
				<form>
					<div class="form-group">
						<label for="nombre"> Nombre</label>
						<input type="text" class="form-control" id="nombre" placeholder="Ingresa nombre..." #nombre>
						<div class="form-group">
							<label for="imagen Url"> imagen url</label>
							<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>	
						</div>
						<button type="submit" class="btn btn-primary" (click)="guardar (nombre.value,url.value)">Guardar!</button>
					</div>
				</form>
					
				
			</div>
			</div>
		</div>
		</div>
		<hr class="mb-5">
		<div class="row row-flex">
			<app-destino-viaje
			 *ngfor="let d of destino"
			 [´destino]="d"
			 (onclicked)="elegido(d)"
			 appEspiame

			 >
			 	
			 </app-destino-viaje>
			
		</div>
		  <hr class="mb-5">
		  <div class="row row-flex">
		  	<h5>actividad</h5>
		  	<ul>
		  		<li *ngFor="let u of update;">{{u}}</li>
		  	</ul>
		  </div>
	</div>
		
	
	

